.container{
    width: 80%;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    justify-content: space-between;
}
.menu-item-container{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
}
a{
    padding: 5px;
    color: #fff;
    text-decoration: none;
}